/* PALETA DE COLORES
Gris Oscuro -> #343434
Rosa Fuerte -> #EC0B43
Blanco -> #FFFFFF
Celeste -> #454ADE
Gris Claro -> #8b9c9e */

body {
    background-color: #343434;
}


@font-face {
    font-family: 'Keyboard';
    src: url('./res/keyboard.woff2');

}

#fondoTeclado {
    margin-top: 12%;
    display: flex;
    justify-content: center;
}

#playButton {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 110%;
    display: block;
    margin: auto;
    margin-top: 3%;
    background-color: #454ADE;
    color: #ffffff;
    border-style: hidden;
    padding: 1%;
    width: 15%;
    border-radius: 10px;
    transition: all 300ms ease;
}

#playButton:hover {
    transform: scale(1.05);
    background-color: #EC0B43;
    color: #ffffff;
    box-shadow: 0px 0px 20px #EC0B43FF;
}

#playButton:active {
    transform: scale(0.8);
}

#inputTexto {
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    width: 40%;
    margin-top: 3%;
    transition: width 600ms, padding 600ms, font-size 600ms ease-out;
}

.classTexto {
    background-color: #8b9c9e;
    outline-color: #8b9c9e;
}

.classTexto::placeholder {
    color: #ffffff;
    opacity: 50%;
    font-size: 90%;
}

#inputTexto:focus {
    width: 50%;
    padding: 2%;
    font-size: 25px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    background-color: #ffffff;
    font-family: Keyboard;
    font-size: 600%;
    color: #343434;
    border-radius: 16%;
    transition: transform 200ms ease-out;
    user-select: none;
    animation: movimientoInicial 1s ease;
    animation-delay: calc(.05s * var(--i));
    height: 66px;
    width: 65px;

}

#fraseJuego {
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
    margin-top: 3%;
    width: 70%;
    animation: ;
}


@keyframes fraseAnimar {
    from{ 
        font-size:  0px;
    }
    to{
        font-size:  25px;
    }
    }

.keyBoard {
    position: relative;
    left: -4px;
}

.logo:hover {
    transform: translateY(-50%);
}

.logo:active {
    transform: scale(0.7);
}

@keyframes movimientoInicial {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-50%)
    }

}


.highlight {
    background-color: #454ADEAA;
    border-radius: 10px;
    padding: auto;
    padding-left: 2%;
    box-shadow: 0px 0px 20px #454ADEFF;
    /* animation: fraseAnimar 600ms ease-out; */
    /* animation: fadeIn 4s ease-in;
    animation-delay: 1s; */
}

.error {
    display: block;
    background-color: #8b9c9e;
    outline-color: #EC0B43;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #FF0000FF;
    color: #EC0B43;

}

/* @keyframes fadeIn {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
} */